.login {
  min-height: 100%;
  width: 100%; }

.profile {
  min-height: 100%;
  width: 100%; }
  .profile form {
    width: 100%; }
  .profile .login-buttons {
    margin-top: 1.5rem; }

.view-events {
  min-height: 100%;
  width: 100%; }
  @media screen and (max-height: 499px) and (orientation: portrait) {
    .view-events h1 {
      margin-bottom: 0.5rem; } }
  .view-events form {
    width: 100%;
    display: flex;
    align-items: center; }
  .view-events .event {
    display: flex;
    flex-direction: column;
    /*text-align: left;*/
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    background: #69c994;
    width: calc(100%-2rem);
    border-radius: 1.5rem;
    box-shadow: inset -5px -5px 10px -5px rgba(36, 101, 66, 0.6), inset 0px 0px 5px 0px rgba(36, 101, 66, 0.6), 0px 0px 7px 1px rgba(131, 210, 167, 0.6), 0px 0px 10px 5px rgba(158, 220, 186, 0.6);
    padding: 0.5rem 1rem 0.8rem 1rem;
    margin-bottom: 0.5rem;
    /*flex-flow: row wrap;*/
    /* This is the same as direction+wrap */
    /*.event-host {
            flex-basis: 40%;
            text-align: left;
            padding-left: 8%;
        }

        .event-start {
            flex-basis: 40%;
            text-align: right;
            padding-right: 8%;
        }*/ }
    .view-events .event .event-name {
      font-size: 1.2rem;
      font-weight: 900;
      padding-bottom: 0.5rem;
      flex-basis: 100%; }

.events-container {
  width: 100%; }

.add-event-button {
  padding: 0;
  margin: 1rem 0 0 auto; }

.create-event {
  position: absolute;
  top: 0;
  left: calc(30% - 1rem);
  right: 0;
  background: #399d66;
  width: 40%;
  height: calc(80vh - 3.3rem);
  overflow: hidden;
  margin-top: 10vh;
  border-radius: 1.5rem;
  box-shadow: inset -5px -5px 10px -5px rgba(36, 101, 66, 0.6), inset 0px 0px 5px 0px rgba(36, 101, 66, 0.6), 0px 0px 7px 1px rgba(131, 210, 167, 0.8), 0px 0px 10px 5px rgba(158, 220, 186, 0.8);
  padding: 0.5rem 1rem 0.8rem 1rem; }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    .create-event {
      width: 80%;
      left: calc(10% - 1rem); } }
  @media screen and (max-width: 699px) and (orientation: landscape) {
    .create-event {
      width: 80%;
      left: calc(10% - 1rem); } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    .create-event {
      width: 80%;
      left: calc(10% - 1rem); } }
  @media screen and (min-width: 700px) and (max-width: 1049px) and (orientation: landscape) {
    .create-event {
      width: 80%;
      left: calc(10% - 1rem); } }
  @media screen and (min-width: 801px) and (orientation: portrait) {
    .create-event {
      width: 80%;
      left: calc(10% - 1rem); } }
  .create-event h2 {
    color: rgba(87, 117, 102, 0.8);
    /*color: hsl(147, 47%, 67%);*/
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    background: #83d2a7;
    width: 57%;
    margin: auto;
    margin-bottom: 1rem;
    text-shadow: -0.2px -0.2px 0.1px rgba(38, 115, 73, 0.9), 0.2px 0.2px 1px rgba(225, 242, 217, 0.8), 0 0 1px rgba(217, 242, 228, 0.8);
    /*@media screen and (min-width: 1050px) and (orientation: landscape) {*/
    border-radius: 2rem;
    box-shadow: inset -5px -5px 10px -5px rgba(27, 75, 49, 0.6), inset 0px 0px 5px 0px rgba(27, 75, 49, 0.6), 0px 0px 7px 1px rgba(68, 187, 122, 0.4), 0px 0px 10px 5px rgba(94, 197, 140, 0.4);
    padding: 1rem;
    /*};*/ }
    @media screen and (max-width: 399px) and (orientation: portrait) {
      .create-event h2 {
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        width: 65%; } }
    @media screen and (max-width: 699px) and (orientation: landscape) {
      .create-event h2 {
        font-size: 1.7rem;
        padding-bottom: 0.75rem;
        width: 65%; } }
    @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
      .create-event h2 {
        font-size: 1.8rem;
        padding-bottom: 0.75rem;
        width: 65%; } }
    @media screen and (min-width: 370px) and (max-width: 399px) and (orientation: portrait) {
      .create-event h2 {
        font-size: 1.8rem; } }
    @media screen and (max-height: 499px) and (orientation: portrait) {
      .create-event h2 {
        margin-bottom: 0.2rem; } }
  .create-event .create-event-button {
    margin-left: 60%; }
  .create-event #create_event_form {
    display: block;
    padding: 1rem;
    margin-top: 5%;
    justify-content: space-around;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 120vh;
    padding-right: 17%;
    padding-left: 17%; }
    @media screen and (max-width: 699px) and (orientation: landscape) {
      .create-event #create_event_form {
        margin-top: 1%; } }

.overflow {
  height: 8.5rem; }

.time-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem; }

.guests-container {
  max-height: 6rem;
  overflow-y: scroll;
  background: #83d2a7;
  margin-top: 1rem;
  padding: 0.8rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  color: #4c6759; }

.guests-inputs-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.guest-input {
  width: 60%; }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    .guest-input {
      width: 100%; } }
  @media screen and (min-width: 801px) and (orientation: portrait) {
    .guest-input {
      width: 100%; } }
  @media screen and (min-width: 700px) and (max-width: 1049px) and (orientation: landscape) {
    .guest-input {
      width: 100%; } }

.guests-button {
  margin: 0.2rem 0 0 0.5rem; }

.new-guests {
  display: inline-flex;
  margin: 0 0.3rem 0.4rem 0;
  background: white;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
  background: linear-gradient(170deg, white 30%, #f0faf4 60%);
  color: #4c6759; }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    .new-guests {
      font-size: .8rem; } }

.guest-remove {
  text-align: center;
  width: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px rgba(38, 115, 73, 0.8);
  background: white;
  margin: 0 0 0 0.3rem;
  padding: 0; }

.guest-message {
  width: 90%;
  max-height: 3rem;
  resize: none;
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  /*@media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
        width: 94%;
    }

    @media screen and (min-width: 700px) and (max-width: 1049px) and (orientation: landscape) {
        width: 94%;
    }*/ }

textarea {
  font-family: 'Varela Round', sans-serif; }

/*$body-height: html*/
html {
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Varela Round', sans-serif;
  color: #456e57; }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    html {
      background-image: url("../img/body-background.jpg");
      background-repeat: repeat; } }
  @media screen and (min-width: 801px) and (orientation: portrait) {
    html {
      background-image: url("../img/body-background.jpg");
      background-repeat: repeat; } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    html {
      background-image: url("../img/body-background.jpg");
      background-repeat: repeat; } }
  @media screen and (min-width: 700px) and (max-width: 1049px) and (orientation: landscape) {
    html {
      background-image: url("../img/body-background.jpg");
      background-repeat: repeat; } }

body {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 60%;
  margin: auto;
  background: #83d2a7; }
  @media screen and (max-width: 699px) and (orientation: landscape) {
    body {
      margin-top: 1%; } }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    body {
      width: 80%;
      margin-top: 5%; } }
  @media screen and (max-width: 699px) and (orientation: landscape) {
    body {
      width: 80%;
      margin-top: 5%; } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    body {
      width: 80%;
      border: 1px solid rgba(131, 210, 167, 0.2);
      padding: 3.5rem 0 2.5rem 0;
      border-radius: 2rem 5rem;
      box-shadow: inset 0px 0px 39px -10px rgba(0, 0, 0, 0.75), 0px 0px 15px 0px rgba(0, 0, 0, 0.5); } }
  @media screen and (min-width: 700px) and (max-width: 1049px) and (orientation: landscape) {
    body {
      width: 80%;
      border: 1px solid rgba(131, 210, 167, 0.2);
      padding: 3.5rem 0 2.5rem 0;
      border-radius: 2rem 5rem;
      box-shadow: inset 0px 0px 39px -10px rgba(0, 0, 0, 0.75), 0px 0px 15px 0px rgba(0, 0, 0, 0.5); } }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    body {
      border: 1px solid rgba(131, 210, 167, 0.2);
      padding: 3.5rem 0 2.5rem 0;
      border-radius: 2rem 5rem;
      box-shadow: inset 0px 0px 39px -10px rgba(0, 0, 0, 0.75), 0px 0px 15px 0px rgba(0, 0, 0, 0.5); } }
  @media screen and (min-width: 801px) and (orientation: portrait) {
    body {
      border: 1px solid rgba(131, 210, 167, 0.2);
      padding: 3.5rem 0 2.5rem 0;
      border-radius: 2rem 5rem;
      box-shadow: inset 0px 0px 39px -10px rgba(0, 0, 0, 0.75), 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
      width: 75%; } }

.login,
.profile,
.view-events,
.create-event {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
  /*overflow-y: scroll;*/ }
  .login form,
  .profile form,
  .view-events form,
  .create-event form {
    text-align: center;
    flex-direction: column;
    width: 70%; }
    @media screen and (max-width: 399px) and (orientation: portrait) {
      .login form,
      .profile form,
      .view-events form,
      .create-event form {
        width: 100%; } }
    @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
      .login form,
      .profile form,
      .view-events form,
      .create-event form {
        width: 85%; } }
  .login ul,
  .profile ul,
  .view-events ul,
  .create-event ul {
    display: flex;
    flex-direction: column;
    text-align: left; }
  .login label,
  .profile label,
  .view-events label,
  .create-event label {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.7rem 0 0 0;
    text-align: left; }
    @media screen and (max-height: 499px) and (orientation: portrait) {
      .login label,
      .profile label,
      .view-events label,
      .create-event label {
        margin-top: 0.3rem;
        padding-top: 0.5rem; } }

h1 {
  display: inline-flex;
  font-weight: 300;
  color: rgba(87, 117, 102, 0.8);
  align-self: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2rem;
  text-shadow: -0.2px -0.2px 0.1px rgba(38, 115, 73, 0.9), 0.2px 0.2px 1px rgba(225, 242, 217, 0.8), 0 0 1px rgba(217, 242, 228, 0.8);
  margin-bottom: 1rem; }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    h1 {
      border-radius: 2rem;
      box-shadow: inset -5px -5px 10px -5px rgba(36, 101, 66, 0.6), inset 0px 0px 5px 0px rgba(36, 101, 66, 0.6), 0px 0px 7px 1px rgba(131, 210, 167, 0.6), 0px 0px 10px 5px rgba(158, 220, 186, 0.6);
      padding: 1rem; } }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    h1 {
      font-size: 2rem; } }
  @media screen and (min-width: 370px) and (max-width: 399px) and (orientation: portrait) {
    h1 {
      font-size: 2.4rem; } }
  @media screen and (max-height: 499px) and (orientation: portrait) {
    h1 {
      margin-bottom: 0.2rem; } }

input {
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  font-family: 'Varela Round', sans-serif; }

li {
  padding: 0.7rem 0 0 0; }

button {
  width: 40%;
  margin-top: 1rem;
  background: white;
  padding: 0.8rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  background: linear-gradient(170deg, white 30%, #f0faf4 60%);
  color: #4c6759; }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    button {
      font-size: .8rem; }
      button.goto-profile-button {
        width: 50%; } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    button {
      /*font-size: .8rem;*/ }
      button.goto-profile-button {
        width: 50%; } }

.login-buttons {
  display: flex;
  justify-content: space-between; }

@-webkit-keyframes autofill {
  to {
    color: #456e57;
    background: #cdfefe; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

.ui-state-error {
  border: 1px solid #456e57;
  opacity: 0.9;
  /*width: ;*/ }

.alert-msg > p .ui-icon {
  margin-bottom: 1.3rem !important; }

/*.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-titlebar {
  display: flex;
  height: 3rem;
  text-align: center;
  align-items: center;
}

.ui-dialog {
  height: 4rem !important;
}*/

/*# sourceMappingURL=app.css.map */
