.view-events form {
  width: 100%;
  display: flex;
  align-items: center; }

.view-events .event {
  height: 30px;
  width: 90%;
  border: 1px solid black;
  margin: 5px auto 5px auto; }

.events-container {
  width: 100%; }

.add-event-button {
  padding: 0;
  margin-left: auto;
  margin-right: 5%; }

.create-event {
  position: absolute;
  top: 0;
  left: 0;
  /*bottom: 0;*/
  right: 0;
  background: #399d66; }
  .create-event h2 {
    color: #83d2a7; }
  .create-event button {
    margin-left: auto; }
  .create-event form {
    display: flex;
    margin-top: 10%;
    justify-content: space-between; }
    @media screen and (max-width: 699px) and (orientation: landscape) {
      .create-event form {
        margin-top: 1%; } }

/*$body-height: html*/
html {
  display: flex;
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Varela Round', sans-serif;
  color: #456e57; }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    html {
      background-image: url("../img/body-background.jpg");
      background-repeat: repeat; } }

body {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 60%;
  margin: auto;
  background: #83d2a7; }
  @media screen and (max-width: 699px) and (orientation: landscape) {
    body {
      margin-top: 1%; } }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    body {
      width: 80%;
      margin-top: 5%; } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    body {
      width: 80%; } }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    body {
      border: 1px solid rgba(131, 210, 167, 0.2);
      padding: 3.5rem 0 2.5rem 0;
      border-radius: 2rem 5rem;
      box-shadow: inset 0px 0px 39px -10px rgba(0, 0, 0, 0.75), 0px 0px 15px 0px rgba(0, 0, 0, 0.5); } }

.login,
.profile,
.view-events,
.create-event {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
  min-height: 100%;
  width: 100%;
  /*overflow-y: scroll;*/ }
  .login form,
  .profile form,
  .view-events form,
  .create-event form {
    display: flex;
    flex-direction: column;
    width: 70%; }
  .login ul,
  .profile ul,
  .view-events ul,
  .create-event ul {
    display: flex;
    flex-direction: column; }
  .login label,
  .profile label,
  .view-events label,
  .create-event label {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.7rem 0 0 0; }

h1,
h2 {
  color: rgba(87, 117, 102, 0.8);
  align-self: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2rem;
  text-shadow: -0.2px -0.2px 0.1px rgba(38, 115, 73, 0.9), 0.2px 0.2px 1px rgba(225, 242, 217, 0.8), 0 0 1px rgba(217, 242, 228, 0.8);
  margin-bottom: 1rem; }
  @media screen and (min-width: 1050px) and (orientation: landscape) {
    h1,
    h2 {
      border-radius: 2rem;
      box-shadow: inset -5px -5px 10px -5px rgba(36, 101, 66, 0.6), inset 0px 0px 5px 0px rgba(36, 101, 66, 0.6), 0px 0px 7px 1px rgba(131, 210, 167, 0.8), 0px 0px 10px 5px rgba(158, 220, 186, 0.8);
      padding: 1rem; } }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    h1,
    h2 {
      font-size: 2rem; } }

input {
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem; }

li {
  padding: 0.7rem 0 0 0; }

button {
  width: 40%;
  margin-top: 1rem;
  background: white;
  padding: 0.8rem 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.75);
  background: linear-gradient(170deg, white 30%, #f0faf4 60%);
  color: #4c6759; }
  @media screen and (max-width: 399px) and (orientation: portrait) {
    button {
      font-size: .8rem; }
      button.goto-profile-button {
        width: 50%; } }
  @media screen and (min-width: 400px) and (max-width: 800px) and (orientation: portrait) {
    button {
      /*font-size: .8rem;*/ }
      button.goto-profile-button {
        width: 50%; } }

.login-buttons {
  display: flex;
  justify-content: space-between; }

@-webkit-keyframes autofill {
  to {
    color: #456e57;
    background: #cdfefe; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

/*# sourceMappingURL=app.css.map */
