// ==========================================================================
// Global Imports
// ==========================================================================

@import 'base/index';
@import 'pages/index';

/*$body-height: html*/

html {
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Varela Round', sans-serif;
    color: hsl(146, 23%, 35%);
}

body {
  display: flex;
  height: 80%;
  width: 60%;
  margin: 10% auto 0 auto;
  background: hsl(147, 47%, 67%);

  @media screen and (max-width: 600px) {
      background: hsl(147, 47%, 67%);
  }
}

.login,
.profile,
.view-events,
.create-event {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    min-height: 100%;

    form {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    label {
        display: flex;
        flex-direction: column;
    }
}

h1,
h2 {
    color: hsl(150, 15%, 40%);
    align-self: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
}

form {
    flex-direction: column;
    /*padding: 10%;
    border: 1px solid black;*/ // maybe use this for desktop
}

label {
  padding: 0.7rem 0 0 0;
}

li {
  padding: 0.7rem 0 0 0;
}

button {
    width: 10em;
}

.login-buttons {
    margin-right: auto;
}
