// ==========================================================================
// Global Imports
// ==========================================================================

@import 'base/index';
@import 'pages/index';

/*$body-height: html*/

html {
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Varela Round', sans-serif;
    color: hsl(146, 23%, 35%);
}

body {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 60%;
  margin: 10% auto 0 auto;
  background: hsl(147, 47%, 67%);

  @media #{$small-land} {
      margin-top: 1%;
  }

  @media #{$small-port} {
      width: 80%;
  }

  @media #{$medium-port} {
      width: 80%;
  }

}

.login,
.profile,
.view-events,
.create-event {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
    min-height: 100%;
    width: 100%;
    /*overflow-y: scroll;*/

    form {
        display: flex;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    label {
        display: flex;
        flex-direction: column;
    }
}

h1,
h2 {
    color: hsl(150, 15%, 40%);
    align-self: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;

    @media #{$small-port} {
      font-size: 2rem;
    }
}

form {
    flex-direction: column;
    /*padding: 10%;
    border: 1px solid black;*/ // maybe use this for desktop
}

label {
  padding: 0.7rem 0 0 0;
}

input {
  margin-top: 0.2rem;
}

li {
  padding: 0.7rem 0 0 0;
}

button {
    width: 40%;
    margin-top: 1rem;
    background: white;
    padding: .5rem .2rem;
    border-radius: .5rem;

    @media #{$small-port} {
        font-size: .8rem;

        &.goto-profile-button {
          width: 50%
        }
    }

    @media #{$medium-port} {
        /*font-size: .8rem;*/

        &.goto-profile-button {
          width: 50%
        }
    }
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}
