.create-event {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: hsl(147, 47%, 42%); //when clicked, create-event should temp change the background of view events

    button {
        margin-left: auto;
    }

    form {
        display: flex;
        margin-top: 10%;
    }
}
