.view-events {

    min-height: 100%;
    width: 100%;

    @media screen and (max-height: 499px) and (orientation: portrait) {
        h1 {
            margin-bottom: 0.5rem;
        }
    }


    form {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .event {
        display: flex;
        flex-direction: column;
        /*text-align: left;*/
        /*flex-wrap: wrap;*/
        justify-content: space-around;
        background: hsl(147, 47%, 60%);
        width: calc(100%-2rem);

        border-radius: 1.5rem;
        box-shadow: inset -5px -5px 10px -5px hsla(147, 47%, 27%, 0.6),
        inset 0px 0px 5px 0px hsla(147, 47%, 27%, 0.6), 0px 0px 7px 1px hsla(147, 47%, 67%, 0.6),
        0px 0px 10px 5px hsla(147, 47%, 74%, 0.6);

        padding: 0.5rem 1rem 0.8rem 1rem;
        margin-bottom: 0.5rem;
        /*flex-flow: row wrap;*/  /* This is the same as direction+wrap */


        .event-name {
            font-size: 1.2rem;
            font-weight: 900;
            padding-bottom: 0.5rem;
            flex-basis: 100%;
        }

        /*.event-host {
            flex-basis: 40%;
            text-align: left;
            padding-left: 8%;
        }

        .event-start {
            flex-basis: 40%;
            text-align: right;
            padding-right: 8%;
        }*/

        .event-guests-names,
        .event-guests-count {

        }
    }
}

.events-container {
    width: 100%;
}

.add-event-button {
    padding: 0;
    margin: 1rem 0 0 auto;
}
