.view-events {
    /*height: 100vh;*/
    /*justify-content: center;*/

    .event {
        height: 30px; // these are placeholders for now
        width: 290px;
        border: 1px solid black;
        margin: 5px 0 5px 0;
    }

    button {
        padding-right: 5px;
        margin-left: auto;
    }
}